html, body {
	padding: 0;
	margin: 0;
}
#menu-btn {
  display: inline-block;
  cursor: pointer;
}
#menu {
	box-shadow: 2px 5px 7px #555555;
	width: 200px;
	position: absolute;
	left: 35%;
	top: 10%;
	background-color: #ffcc5c;
	transition: 0.5s;
	padding: 20px;
	font-family: sans-serif;
}
#menu > * {
	margin: 20px 10px;
}
.hide {
	opacity: 0;
	visibility: hidden;
}
.dash {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}
.change .dash:nth-child(1) {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
}
.change .dash:nth-child(2) {opacity:0;}

.change .dash:nth-child(3) {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}

.btn, button {
	float: left;
	width: 140px;
	display: block;
	padding: 5px 8px;
	margin: 10px;
	color: #101010;
	cursor: default;
	background-color: #c5aa6a;
	text-align: center;
	font-family: sans-serif;
	box-shadow: 2px 5px 4px #555555;
	border: none;
}
.clicker:hover {
	background-color: #5f4c4c;
	color: #B0B0B0;
	transition: 0.2s;
}
.clicker:active {
	background-color: #404040;
	transition: 0.2s;
}
.toggle-btn {
	color: #202020;
	background-color: #88d8b0;
	transition: 0.2s;
	cursor: pointer;
	box-shadow: 2px 5px 4px #555555
}
.nav-bar {
	height: 60px;
	background-color: #ffcc5c;
}